@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
.logo {
  height: 40px;
}
.fm-bg {
  background: url(../img/farmland.png);
  background-size: cover;
  width: 100vw;
  height: 800px;
  flex-direction: column-reverse;
}
.hero {
  background: linear-gradient(
    89.39deg,
    rgba(24, 54, 50, 0.64) 47.78%,
    rgba(70, 158, 131, 0.64) 159.24%
  );
  backdrop-filter: blur(22.5px);
  height: 514;
}
.more {
  color: red;
}
.insight {
  background-color: #e15534 !important;
  width: 250px;
  height: 64px;
  color: white !important;
}
.insight:hover {
  background-color: black !important;
}
.sign {
  background-color: #66000000 !important;
  color: white !important;
}
.sign:hover {
  background-color: black !important;
}
.soil {
  color: #c5dd53;
}
.farmer {
  height: 450px;
  margin-right: 250px;
}
.future {
  margin-top: 100px;
  font-family: "DM Sans";
  margin-left: 250px;
}
.future-s {
  line-height: 83px;
  font-weight: 700;
  font-size: 64px;
}
.future-p {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
}
.about {
  width: 400px;
  height: 100px;
}
.video {
  width: 510px;
  height: 350px;
}
.hr {
  background-color: #183632;
  height: 2px !important;
  width: 850px;
}
.core {
  background-color: #f6f5f0;
}
.features {
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 411px;
  text-align: center;
  height: 134px;
}
.svg {
  height: 63px;
  width: 63px;
}
.features span {
  font-family: "DM Sans";
}
